pymupdf==1.24.9
pgvector==0.3.2
psycopg[binary]==3.2.1
sentence-transformers==3.0.1
transformers==4.44.2
accelerate==0.33.0
rank_bm25==0.2.2
python-dotenv==1.0.1
fastapi==0.112.2
uvicorn==0.30.6
pyarrow==17.0.0
google-api-python-client==2.140.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0

